.container
  %div{"ng-app"=>"livepepper", "ng-controller" => "mainController"}

    %button{"ng-click" => "loadCategories()"}
      Load Categories
    %button{"ng-click" => "loadProducts()"}
      Load Products
    %br

    %ul.list-group{"dnd-list" => "categories"}
      %li.list-group-item{"ng-repeat"=>"category in categories", "dnd-draggable"=>"category", "dnd-moved"=>"categories.splice($index,1)"}
        {{ category.name }}

