%div{"ng-app"=>"livepepper", "ng-controller" => "mainController", "ng-init" => "loadCategories()"}

  .well.well-sm
    %form.form-inline{"ng-submit" => "addCategory()"}
      %input.form-control{type: :text, placeholder: "Enter the category", "ng-model" => "cat_name"}
      %input.btn.btn-primary{type: :submit, value: "Add"}

  .row
    %ul.list-group{"dnd-list" => "categories"}
      %li.list-group-item{"ng-repeat"=>"cat in categories.category", "dnd-draggable"=>"cat", "dnd-moved"=>"categories.splice($index,1)"}
        .row
          .col-md-10
            %h2 {{ cat.name }}
          .col-md-2
            %a.btn.btn-danger{href: "#", "ng-click" => "deleteCategory(cat)"}
              %span.glyphicon.glyphicon-minus

        %ul.list-group{"dnd-list" => "cat.products", "dnd-drop" => 'dropHere(item, cat.id)'}
          %li.row.list-group-item{"ng-repeat"=>"product in cat.products", "dnd-draggable"=>"product", "dnd-moved"=>"cat.products.splice($index,1)"}
            .col-md-4 
              {{ product.name }}  
            .col-md-4
              {{ product.description }}  
            .col-md-4
            {{ product.price }}  
          .well{"ng-show" => "cat.products.length == 0"}
            Drop here!
        %form.form-inline{"ng-submit" => "addProduct(name, desc, price, cat.id)"}
          %input.form-control{type: :text, placeholder: "Name", "ng-model" => "name"}
          %input.form-control{type: :text, placeholder: "Description", "ng-model" => "desc"}
          %input.form-control{type: :text, placeholder: "Price", "ng-model" => "price"}
          %input.btn.btn-primary{type: :submit, value: "Add product"}
