- if @products.any?
  %table
    - @products.each do |product|
      %tr
        %td
          product.name
        %td
          product.description
        %td
          product.price
- else
  %h1 There is no products yet
